LLM_SERVICE_ENDPOINT=""
LLM_SERVICE_API_KEY=""
LLM_SERVICE_PLANNING_MODEL_NAME="openai/vertex-claude-4-5-sonnet"
LLM_SERVICE_GENERAL_MODEL_NAME="openai/vertex-claude-4-5-sonnet"
NAMESPACE="aeroswift"
SOLACE_BROKER_URL=""
SOLACE_BROKER_VPN=""
SOLACE_BROKER_USERNAME=""
SOLACE_BROKER_PASSWORD=""
SOLACE_DEV_MODE="false"
SESSION_SECRET_KEY="aeroswift"
FASTAPI_HOST="0.0.0.0"
FASTAPI_PORT="8000"
FASTAPI_HTTPS_PORT="8443"
SSL_KEYFILE=""
SSL_CERTFILE=""
SSL_KEYFILE_PASSWORD=""
ENABLE_EMBED_RESOLUTION="True"
PLATFORM_API_HOST="0.0.0.0"
PLATFORM_API_PORT="8001"
PLATFORM_SERVICE_URL="http://0.0.0.0:8001"
LOGGING_CONFIG_PATH="configs/logging_config.yaml"
SAM_AUTHORIZATION_CONFIG='{"authorization_service": {"type": "none"}}'

# ------- SQL DB Connections ---------
AEROSWIFT_DB="postgresql+psycopg2://postgres:postgres@localhost:5431/aeroswift_ffmembers"
FLIGHT_INFO_DB="postgresql+psycopg2://postgres:postgres@localhost:5433/aeroswift_flightdata"

# -------- Event Mesh Gateways --------
EM_GATEWAY_SOLACE_BROKER_URL=""
EM_GATEWAY_SOLACE_BROKER_VPN=""
EM_GATEWAY_SOLACE_BROKER_USERNAME=""
EM_GATEWAY_SOLACE_BROKER_PASSWORD=""