LLM_SERVICE_ENDPOINT=""
LLM_SERVICE_API_KEY=""
LLM_SERVICE_PLANNING_MODEL_NAME="openai/vertex-claude-4-5-sonnet"
LLM_SERVICE_GENERAL_MODEL_NAME="openai/vertex-claude-4-5-sonnet"
NAMESPACE="aeroswift"
SOLACE_BROKER_URL=""
SOLACE_BROKER_VPN=""
SOLACE_BROKER_USERNAME=""
SOLACE_BROKER_PASSWORD=""
SOLACE_DEV_MODE="false"
SESSION_SECRET_KEY="aeroswift"
FASTAPI_HOST="0.0.0.0"
FASTAPI_PORT="8000"
FASTAPI_HTTPS_PORT="8443"
SSL_KEYFILE=""
SSL_CERTFILE=""
SSL_KEYFILE_PASSWORD=""
ENABLE_EMBED_RESOLUTION="True"
PLATFORM_API_HOST="0.0.0.0"
PLATFORM_API_PORT="8001"
PLATFORM_SERVICE_URL="http://0.0.0.0:8001"

# ------- SQL Agents ---------
AEROSWIFT_DB_TYPE="sqlite"
AEROSWIFT_DB_NAME="aeroswift.db"
AEROSWIFT_DB_PURPOSE="Aeroswift Database"
AEROSWIFT_DB_DESCRIPTION="Database containing information about aeroswift frequent flyers including their flight"
FLIGHT_INFO_DB_TYPE="sqlite"
FLIGHT_INFO_DB_NAME="flight_info.db"
FLIGHT_INFO_DB_PURPOSE="FDPS Database"
FLIGHT_INFO_DB_DESCRIPTION="Database containing information about flight plan and status"

# -------- RAG Agents ---------
DOCUMENTS_PATH="data/terminal_maps"
OPENAI_EMBEDDING_MODEL="text-embedding-ada-002"
QDRANT_URL=""
QDRANT_API_KEY=""
QDRANT_COLLECTION="airport-maps"
QDRANT_EMBEDDING_DIMENSION=1536

# -------- Event Mesh Gateways --------
EVENT_MESH_GW_SOLACE_BROKER_URL=""
EVENT_MESH_GW_SOLACE_BROKER_VPN=""
EVENT_MESH_GW_SOLACE_BROKER_USERNAME=""
EVENT_MESH_GW_SOLACE_BROKER_PASSWORD=""